.custom-title {
    font-size: 2.5rem; /* Tamaño más grande */
    font-weight: bold; /* Negrita */
    text-align: center; /* Centrado */
    color: #3b82f6; /* Color azul vibrante */
    text-transform: uppercase; /* Todo en mayúsculas */
    letter-spacing: 0.1rem; /* Espaciado entre letras */
    margin: 20px 0; /* Espaciado superior e inferior */
    font-family: 'Roboto', sans-serif; /* Fuente personalizada */
  }
  
  @media (max-width: 768px) {
    .custom-title {
      font-size: 2rem; /* Ajusta el tamaño del texto para pantallas pequeñas */
    }
  }
  

  ion-menu {
    --width: 250px; /* Ajusta el ancho del menú */
  }
  